<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="vue.js"></script>
<body>
<div id="demo14">
    <input type="checkbox" id="t" v-model="output" @change="handleChange">
    <label for="t">全选</label>
    <p>---------------------------------------</p>
    <input type="checkbox" id="hobby1" v-model="hobby" value="1">
    <label for="hobby1">音乐</label>
    <input type="checkbox" id="hobby2" v-model="hobby" value="2">
    <label for="hobby2">足球</label>
    <input type="checkbox" id="hobby3" v-model="hobby" value="3">
    <label for="hobby3">动漫</label>

    <input type="checkbox" id="hobby4" v-model="hobby" value="4">
    <label for="hobby4">游戏</label>
    <p>{{hobby}}</p>   <p>{{output}}</p>
</div>
<script>
    new Vue({
        el:"#demo14",
        data:function(){
            return{
                output:false,
                hobby:[],
            }
        },
        computed:{
            theHobbies:function(){
                var h=0;
                this.hobby.forEach(function(item){
                    h+=parseInt(item);
                });
                return h;
            },
        },
        watch:{
            theHobbies:function(){
                if(this.theHobbies == 10) this.output = true;
                else this.output = false;
            }
        },
        methods:{
            handleChange:function(){
                if(this.output) this.hobby=[1,2,3,4];
                else this.hobby=[]
            }
        }
    })
</script>
</body>
</html>